<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/home_styles.css">
  <script src="../static/home_jscript.js"></script>
  <title>Login Page</title>
</head>
<body>
  <div class="container">
    <h1>Welcome!</h1>
    <p>Select your preferred login method:</p>
    <div class="buttons-container">
        <div class="button-google">
            <button id="googleLogin">Google Login</button>
        </div>
        <div class="button-guest">
            <button id="guestLogin">Guest Login</button>
        </div>
    </div>
  </div>
</body>
</html>