<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Downloader</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='song_selection.css') }}"
    />
</head>
<body>
    <h1>Select Files to Download</h1>
    <form onsubmit="downloadSelectedFiles(); return false;">
        <input type="checkbox" id="select-all" onchange="selectAll()"> Select All<br>
        {% for file in files %}
            <input type="checkbox" name="file" value="{{ file }}"> {{ file }}<br>
        {% endfor %}
        <input type="submit" value="Download Selected Files" id="download-btn">
    </form>

    <script src="{{ url_for('static', filename='fileDownloader.js') }}"></script>
</body>
</html>
